---
import Tags from '../Tags.astro';

interface Props {
	title: string;
	skills: string[];
}

const { title, skills } = Astro.props;
---

<div class="skill-category">
	<h3>{title}</h3>
	<Tags tags={skills} />
</div>

<style>
	.skill-category {
		margin-bottom: 1.5rem;
	}

	h3 {
		font-size: 1.4rem;
		margin-bottom: var(--space-sm);
	}
</style>
