---
interface Props {
	title: string;
	skills: string[];
}

const { title, skills } = Astro.props;
---

<div class="skill-category">
	<h3>{title}</h3>
	<ul class="tags">
		{skills.map((skill) => <li class="tag">{skill}</li>)}
	</ul>
</div>

<style>
	.skill-category {
		margin-bottom: 1.5rem;
	}

	h3 {
		font-size: 1.4rem;
		margin-bottom: var(--space-sm);
	}

</style>
