---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dejan Vasic - Software Engineer">
	<main class="container">
		<div class="hero">
			<div>
				<h1>Dejan Vasic</h1>
			</div>
			<img src="/images/profile.jpeg" alt="Dejan Vasic" />
		</div>

		<div class="content">
			<p>
				Hi, I'm Dejan Vasic. and I love building stuff for the web with a focus on quality, security
				and performance.
			</p>

			<p>My expertise includes (but not limited to):</p>
			<ul>
				<li>Frontend development with React and TypeScript. Svelte by night.</li>
				<li>Backend systems with Node.js and other Javascript runtimes.</li>
				<li>Cloud infrastructure and DevOps</li>
				<li>Solution design and architecture</li>
			</ul>

			<p>When I'm not coding, you can find me:</p>
			<ul>
				<li>Playing or coaching football ⚽</li>
				<li>Running after the little ones 👶</li>
				<li>Playing music 🎹</li>
			</ul>
		</div>

		<nav class="page-nav">
			<a href="/cv" class="btn-link">CV</a>
			<a href="/projects" class="btn-link">Projects</a>
			<a href="/blog" class="btn-link">Blog</a>
		</nav>
	</main>
</Layout>

<style>
	h1 {
		font-size: 3rem;
		margin-bottom: 0.5rem;
	}

	h2 {
		font-size: 1.5rem;
		color: var(--color-text-light);
		margin-bottom: 2rem;
		font-weight: 500;
	}

	.content {
		line-height: 1.6;
		margin-bottom: 2rem;
	}

	.hero {
		container-type: inline-size;
		display: flex;
		justify-content: space-between;
		margin-bottom: var(--space-sm);
		gap: var(--space-md);

		img {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		}
	}

	.page-nav {
		display: flex;
		gap: 2rem;
		margin-top: 3rem;
		border-top: 1px solid var(--color-border);
		padding-top: 2rem;
		flex-wrap: wrap;
	}

	@media (width > 768px) {
		.hero {
			margin-bottom: var(--space-lg);
		}
	}
</style>
